html,
body {
  height: 100%;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#viewport {
  width: 640px;
  height: 256px;
  position: relative;
  overflow-x: auto;
  background-image: url(../images/water0.png);
}

#ports {
  width: 0px;
  margin-top: 96px;
  display: flex;
  justify-content: space-around;
}
