html,
body {
  height: 100%;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#viewport {
  width: 80%;
  height: 250px;
  position: absolute;
  overflow-x: auto;
  background-image: url(../images/water0.png);
}

#ports {
  width: 0px;
  margin-top: 96px;
  display: flex;
  justify-content: space-around;
}

#ports > .port {
  width: 64px;
  height: 32px;
  background-image: url("../images/port.png");
}

#ship {
  width: 128px;
  height: 64px;
  background-image: url("../images/ship.png");
  position: absolute;
}

#sailbutton {
  border: 0;
  background-color: #fb3640;
  border-bottom: 4px solid #d8040f;
  color: white;
  font-family: inherit;
  padding: 5px 5px;
  position: absolute;
  bottom: 20%;
  left: 45%;
  width: 10%;
  font-family: "VT323", monospace;
}

#sailbutton:hover {
  color: red;
  background-color: white;
  border-bottom-width: 0;
  border-bottom: 4px solid #d8040f;
}

#message {
  padding: 16px;
  font-family: "VT323", monospace;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-top: 3px solid black;
  background-color: white;
}

#hud {
  background-color: black;
  position: absolute;
  align-self: flex-start;
  justify-content: flex-end;
  padding-top: 20%;
  width: 80%;
}

#port-status {
  background-color: black;
  font-family: "VT323";
  color: white;
}
