html,
body {
  height: 100%;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#viewport {
  width: 640px;
  height: 256px;
  position: relative;
  overflow-x: auto;
  background-image: url(../images/water0.png);
}

#ports {
  width: 0px;
  margin-top: 96px;
  display: flex;
  justify-content: space-around;
}

#ports > .port {
  width: 64px;
  height: 32px;
  background-image: url("../images/port.png");
}

#ship {
  width: 128px;
  height: 64px;
  background-image: url("../images/ship.png");
  position: absolute;
}

#sailbutton {
  border: 0;
  background-color: #fb3640;
  border-bottom: 4px solid #d8040f;
  color: white;
  font-family: inherit;
  padding: 5px 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px;
  font-family: "VT323", monospace;
}

#sailbutton:focus {
  background-color: black;
  border-bottom-width: 0;
  padding-bottom: 10px;
}

#message {
  background-color: aquamarine;
}
